<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>jtest1</servlet-name> 
  	<servlet-class>admin.test1</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>jtest1</servlet-name>
  	<url-pattern>/test1.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jtest2</servlet-name>
  	<servlet-class>admin.test2</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>jtest2</servlet-name>
  	<url-pattern>/test2.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>jtest3</servlet-name>
  	<servlet-class>admin.test3</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>jtest3</servlet-name>
  	<url-pattern>/test3.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jtest4</servlet-name>
  	<servlet-class>admin.test4</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>jtest4</servlet-name>
  	<url-pattern>/test4.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jtest5</servlet-name>
  	<servlet-class>admin.test5</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>jtest5</servlet-name>
  	<url-pattern>/test5.do</url-pattern>
  </servlet-mapping>
  
</web-app>